# Stripe Configuration
STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY

# Backend API Configuration
PAYMENT_API_URL=YOUR_SECURE_BACKEND_URL

# Admin Credentials (For local testing/placeholder)
ADMIN_EMAIL=YOUR_ADMIN_EMAIL
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD

# Google Authentication
GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID
